<template>
  <footer class="footer">
  </footer>
</template>

<script>
export default {
  name: 'footer-component',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.footer{
    height: 60px;
}
</style>
