<template>
  <div class="process">
    <div class="process__header">
      <span class="process__header__name">Process</span>
      <span class="process__header__id">{{current}}</span>
      <span class="process__header__action" v-on:click="removeProcess">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.9 13.9" enable-background="new 0 0 13.9 13.9"><path fill="#636f7e" d="M11.3 0 7.1 4.2 2.9 0 0 2.9 4.2 7.1 0 11.3 2.6 13.9 6.8 9.7 11 13.9 13.9 11 9.7 6.8 13.9 2.6z"/></svg>
      </span>
    </div>
    <div class="process__curve">
      <div class="process__cell --dark">
        <span class="process__cell__label">CPU %</span>
        <span class="process__cell__content">{{process.cpu}}</span>
      </div>
      <div class="process__curve__chart">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 379 75" enable-background="new 0 0 379 75"><defs><linearGradient id="0" gradientUnits="userSpaceOnUse" y1="1" x2="0" y2="76"><stop stop-color="#57a4d4"/><stop offset=".036" stop-color="#52a1d3"/><stop offset=".282" stop-color="#3591cb"/><stop offset=".527" stop-color="#2186c5"/><stop offset=".768" stop-color="#147fc2"/><stop offset="1" stop-color="#107dc1"/></linearGradient><linearGradient id="1" gradientUnits="userSpaceOnUse" y1=".667" x2="0" y2="74.71"><stop stop-color="#366e9f"/><stop offset=".325" stop-color="#3a6a9e"/><stop offset=".662" stop-color="#445d99"/><stop offset="1" stop-color="#564992"/></linearGradient></defs><path fill="url(#0)" d="m0 0h379v75h-379z"/><path d="M0,63.3c25,0,36.9-33,75.2-32c38.3,1,44.3,24,75.9,24s43.6-13.3,76.2-12.7c32.6,0.7,47.4,22.3,76,22.3
  S379,22,379,22v53H0C0,75,0,66,0,63.3z" fill="url(#1)"/></svg>
      </div>
    </div>
    <div class="process__infos">
      <div class="process__cell">
        <span class="process__cell__label">Status</span>
        <span class="process__cell__content --green">{{currentStatus}}</span>
      </div>
      <div class="process__cell">
        <span class="process__cell__label">Instances</span>
        <span class="process__cell__content">{{process.instances}}</span>
      </div>
      <div class="process__cell">
        <span class="process__cell__label">Memory Mb</span>
        <span class="process__cell__content --small">
          <span>{{process.memory}}</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 47 47" enable-background="new 0 0 47 47"><path d="M23.5,0C10.5,0,0,10.5,0,23.5C0,36.5,10.5,47,23.5,47S47,36.5,47,23.5C47,10.5,36.5,0,23.5,0z M23.7,42.5
  c-10.6,0-19.2-8.6-19.2-19.2S13.1,4.2,23.7,4.2s19.2,8.6,19.2,19.2S34.3,42.5,23.7,42.5z" fill="#fff"/><path d="m23.7 4.2c.1 0 .2 0 .2 0 10.5 0 19 8.6 19 19.2h4.1c-.1-13-10.5-23.4-23.3-23.4 0 0-.1 0-.1 0v4.2z" fill="#0775cc"/></svg>
        </span>
      </div>
      <div class="process__cell --large">
        <span class="process__cell__label">Up Time</span>
        <span class="process__cell__content --timer">3:{{min}}:{{sec}}</span>
      </div>
      <div class="process__cell --dropdown">
        <span class="process__cell__label">Restarts</span>
        <span class="process__cell__content" :class="{ '--warning' : process.restarts.length > 0 }" v-if="process.restarts">{{process.restarts.length}}</span>
        <span class="process__cell__content" v-else>0</span>

        <ul class="process__cell__dropdown" v-if="process.restarts">
          <li class="process__cell__dropdown__elt" v-for="restart in process.restarts">{{restart}}</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['process', 'index'],
  computed: {
    current: function () {
      return (this.index < 10) ? '0' + this.index : this.index
    },
    currentStatus: function () {
      return (!this.status) ? 'On' : 'Off'
    }
  },
  ready: function () {
    this.date = new Date()
    this.sec = this.date.getSeconds()
    this.min = this.date.getMinutes()
    setInterval(this.handler, 1000)
  },
  methods: {
    handler: function () {
      this.sec++
      if (this.sec === 60) {
        this.sec = 0
        this.min++
        if (this.min === 60) this.min = 0
      }
    },
    removeProcess: function () {
    }
  },
  data () {
    return {
      date: null,
      sec: null,
      min: null
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.process{
  background: white;
  width: 100%;
  float: left;
  border-radius: 4px;
  font-family: "SegoeUIBold";
}
.process__header{
  font-size: 0.8vw;
  padding: 0.6vw;
  display: block;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #2c3039; /* Old browsers */
  background: linear-gradient(to bottom, #2c3039 0%,#434b56 100%);
}
.process__header__name{
  color: #29abe2;
}
.process__header__id{
  color: white;
}
.process__header__action{
  cursor: pointer;
  svg{
    width: 14px;
    float: right;
  }
}

.process__curve{
  position: relative;
}

.process__curve__chart{
  position: absolute;
  left: 16.6%;
  right: 0;
  top: 0;
  height: 100%;
}

.process__infos{
  .process__cell{
    &:first-child{
      border-bottom-left-radius: 4px;
      margin-left: 0;
    }
    &:last-child{
      float: right;
      border-bottom-right-radius: 4px;
    }
  }
}

//css component for process cell
//available option:
//--large (double size)
//--dark (add gradient on background)
.process__cell{
  width: calc(100% / 6);
  display: inline-block;
  text-align: center;
  background: #e6e6e6; /* Old browsers */
  background: linear-gradient(to top, #e6e6e6 0%,#f2f2f2 100%);
  vertical-align: top;
  position: relative;

  .process__cell__label{
    color: #b3b3b3;
    font-size: 0.7vw;
    padding: 5px 0;
    display: block;
  }

  .process__cell__content{
    font-size: 2vw;
    padding: 10px 0 20px 0;
    display: block;
    color: #636f7e;

    svg{
      position: absolute;
      width: 50%;
      left: 50%;
      bottom: 1.5vh;
      transform: translateX(-50%);
    }

    &.--timer{
      color: #f6921e;
      font-family: "DJBGetDigital";
    }

    &.--green{
      color: #96c93d;
    }

    &.--warning{
      color: #ec1940;
    }

    &.--small{
      font-size: 1.6vw;
      line-height: 2vw;
    }
  }

  &.--dark{
    margin: 0;
    background: #2c3039; /* Old browsers */
    background: linear-gradient(to left, #434b56 0%,#2c3039 100%);
  }

  &.--large{
    width: calc(100% / 3);
  }

  &.--dropdown{
    position: relative;
    .process__cell__content{
      position: relative;
      cursor: pointer;

      &:after{
        content: "";
        bottom: 5px;
        left: 50%;
        margin-left: -0.5vw;
        position: absolute;
        width: 0;
        height: 0;
        border-left: 0.5vw solid transparent;
        border-right: 0.5vw solid transparent;
        border-top: 0.5vw solid #b3b3b3;
        transition: all 0.2s;
      }

      &:hover{
        &+.process__cell__dropdown{
          opacity: 1;
          transform: translateY(0);
        }
        &:after{
          border-top: 0.5vw solid #636f7e;
        }
      }
    }
  }

  &:first-child{
    &:before{
      display: none;
    }
  }

  &:before{
    position: absolute;
    content: "";
    width: 1px;
    background: white;
    height: 100%;
    left: 0;
  }
}

.process__cell__dropdown{
  border: 1px solid #636f7e;
  font-size: 1vw;
  position: absolute;
  right: 0;
  opacity: 0;
  transition: all 0.2s;
  transform: translateY(10px);
}
.process__cell__dropdown__elt{
  display: block;
  white-space:nowrap;
  font-size: 0.7vw;
  padding: 0.4vw 0.8vw;
  border-bottom: 1px solid #636f7e;
  color: #bdccd4;
  background: #2c3039; /* Old browsers */
  background: linear-gradient(to left, #434b56 0%,#2c3039 100%);

  &:last-child{
    border: none;
  }
}
</style>
