<template>
  <div id="app">
    <section class="container">
        <header-component></header-component>
        <div class="wrapper">
            <div class="sidebar">
              <a class="button" v-on:click="addProcess">
                Add Process
              </a>
            </div>
            <div class="content">
              <div class="slot" v-for="process in processes">
                <process :process="process" :index="$index+1"></process>
              </div>
            </div>
        </div>
        <footer-component></footer-component>
    </section>
  </div>
</template>

<script>
import HeaderComponent from './components/Header'
import Process from './components/Process'
import FooterComponent from './components/Footer'

export default {
  components: {
    HeaderComponent,
    Process,
    FooterComponent
  },
  data () {
    return {
      processes: [{
        'cpu': 73,
        'status': true,
        'instances': 4,
        'memory': 6,
        'restarts': [
          '22 Jan 2016 12:34:23',
          '22 Jan 2016 12:34:23'
        ]
      }, {
        'cpu': 73,
        'status': true,
        'instances': 4,
        'memory': 6,
        'restart': 0
      }]
    }
  },
  methods: {
    addProcess: function () {
      this.processes.push({
        'cpu': 73,
        'status': true,
        'instances': 4,
        'memory': 6,
        'restart': 0
      })
    }
  }
}
</script>

<style src="./scss/main.scss" lang="scss"></style>
