// config
$debug: false;

// declare breakpoints
$mq-mobile-portrait     : 360px !default;
$mq-mobile-landscape    : 640px !default;
$mq-tablet-portrait     : 768px !default;
$mq-tablet-landscape    : 1024px !default;
$mq-desktop-small       : 1280px !default;
$mq-desktop-large       : 1281px !default;

// create sass list to pass media query data
// if a breakpoint name changes, remember to
// update it in the list below as well
$mq-sync:
    mobile    $mq-mobile-portrait    mobile-portrait,
    mobile    $mq-mobile-landscape   mobile-landscape,
    tablet    $mq-tablet-portrait    tablet-portrait,
    tablet    $mq-tablet-landscape   tablet-landscape,
    desktop   $mq-desktop-small      desktop-small,
    desktop   $mq-desktop-large      desktop-large
;

head {
    // set clear on head to show Unison is set up correctly
    clear: both;
    // store hash of all breakpoints
    title { font-family: "#{$mq-sync}"; }
}

// debug styles to see breakpoint info
body:after {
    content: "desktop";
    @if $debug == false{
        display: none;
    }
}

// debug styles to see breakpoint info
body:before {
    content: "desktop";

    @if $debug == false{
        display: none;
    }
}

// build each media query for js ingestion
@each $mq in $mq-sync {
    @media screen and (min-width: nth($mq, 2)) {
        head { font-family: "#{nth($mq, 1)} #{nth($mq, 2)}"; }
        body:after { content: "#{nth($mq, 3)} (#{nth($mq, 2)})"; }
        body:before { content: "#{nth($mq, 1)}"; }
    }
}

@if $debug == true {
  body:after {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #000;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    color: #FFF;
    padding: 10px;
    z-index: 1000;
    font-size: 10px;
    font-family: sans-serif;
  }
}

// hide elements for conditional loading
// only used for responsive comments plugin
*[data-usn-if] { display: none; }


// Both portrait and landscape
@mixin mobile-only {
    @media (max-width : $mq-mobile-landscape) {
        @content;
    }
}

// Everything up to and including the portrait width of the phone
// Since it's the smallest query it doesn't need a min
@mixin mobile-portrait-only {
    @media (max-width : $mq-mobile-portrait) {
        @content;
    }
}

// Everything up to and including the mobile portrait
@mixin mobile-portrait-and-below {
    @media (max-width : $mq-mobile-portrait) {
        @content;
    }
}

// Everything above and including the mobile portrait
@mixin mobile-portrait-and-up {
    @media (min-width : $mq-mobile-portrait) {
        @content;
    }
}

// Everthing larger than a portrait mobile up until mobile landscape
@mixin mobile-landscape-only {
    @media only screen and (min-width : $mq-mobile-portrait + 1) and (max-width : $mq-mobile-landscape) {
        @content;
    }
}

// Everything up to and including the mobile landscape width
@mixin mobile-landscape-and-below {
    @media only screen and (max-width : $mq-mobile-landscape) {
        @content;
    }
}

// Everything above and including the mobile landscape width
@mixin mobile-landscape-and-up {
    @media only screen and (min-width : $mq-mobile-portrait + 1) {
        @content;
    }
}

// Both the portrait and landscape width of the tablet
// Larger than a landscape mobile but less than or equal to a landscape tablet
@mixin tablet-only {
    @media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-landscape) {
        @content;
    }
}

// Everything larger than mobile landscape up until the portrait width of the tablet
@mixin tablet-portrait-only {
    @media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-portrait) {
        @content;
    }
}

// Everything below and including the portrait width of the tablet
@mixin tablet-portrait-and-below {
    @media only screen and (max-width : $mq-tablet-portrait - 1) {
        @content;
    }
}

// Everything above and including the portrait width of the tablet
@mixin tablet-portrait-and-up {
    @media only screen and (min-width : $mq-mobile-landscape + 1) {
        @content;
    }
}

// Larger than portrait but less than or equal to the landscape width
@mixin tablet-landscape-only {
    @media only screen and (min-width : $mq-tablet-portrait + 1) and (max-width : $mq-tablet-landscape) {
        @content;
    }
}

// Up to and including the tablet landscape
@mixin tablet-landscape-and-below {
    @media only screen and (max-width : $mq-tablet-landscape) {
        @content;
    }
}

// Everything larger than portrait tablet
@mixin tablet-landscape-and-up {
    @media only screen and (min-width : $mq-tablet-portrait + 1) {
        @content;
    }
}

// Up to and including the tablet landscape
@mixin desktop-small-and-below {
    @media only screen and (max-width : $mq-desktop-small) {
        @content;
    }
}

// Everything larger than a landscape tablet but less than or equal to the desktop
@mixin desktop-only {
    @media only screen and (min-width : $mq-tablet-landscape + 1) {
        @content;
    }
}

// Retina screens have a 1.5 pixel ratio, not 2
@mixin retina {
    @media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
        @content;
    }
}

// Nexus 7 (portrait)
@mixin nexus {
    @media only screen and (max-width : 603px) and (orientation: portrait) {
        @content;
    }
}

