.button{
    cursor: pointer;
    text-align: center;
    display: inline-block;
    border: 1px solid red;
    font-family: "SegoeUISemiBold";
    font-size: 0.9vw;
    color: #808080;
    padding: 0.4vw 0;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #cccccc;
    background: #ffffff; /* Old browsers */
    background: linear-gradient(to bottom, #ffffff 0%,#e6e6e6 100%);
}