$fonts-folder: '/static/fonts';

//SegoeUI
@font-face {
    font-family: 'SegoeUIRegular';
    src: url('#{$fonts-folder}/SegoeUI/regular/segoeui.eot');
    src: url('#{$fonts-folder}/SegoeUI/regular/segoeui.eot?#iefix') format('embedded-opentype'),
         url('#{$fonts-folder}/SegoeUI/regular/segoeui.woff') format('woff'),
         url('#{$fonts-folder}/SegoeUI/regular/segoeui.ttf') format('truetype'),
         url('#{$fonts-folder}/SegoeUI/regular/segoeui.svg#segoeui') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUIBold';
    src: url('#{$fonts-folder}/SegoeUI/bold/segoeuib.eot');
    src: url('#{$fonts-folder}/SegoeUI/bold/segoeuib.eot?#iefix') format('embedded-opentype'),
         url('#{$fonts-folder}/SegoeUI/bold/segoeuib.woff') format('woff'),
         url('#{$fonts-folder}/SegoeUI/bold/segoeuib.ttf') format('truetype'),
         url('#{$fonts-folder}/SegoeUI/bold/segoeuib.svg#segoeuib') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUISemiBold';
    src: url('#{$fonts-folder}/SegoeUI/semibold/seguisb.eot');
    src: url('#{$fonts-folder}/SegoeUI/semibold/seguisb.eot?#iefix') format('embedded-opentype'),
         url('#{$fonts-folder}/SegoeUI/semibold/seguisb.woff') format('woff'),
         url('#{$fonts-folder}/SegoeUI/semibold/seguisb.ttf') format('truetype'),
         url('#{$fonts-folder}/SegoeUI/semibold/seguisb.svg#seguisb') format('svg');
    font-weight: normal;
    font-style: normal;
}

//DJBGetDigital
@font-face {
    font-family: 'DJBGetDigital';
    src: url('#{$fonts-folder}/DJBGetDigital/DJBGetDigital.eot');
    src: url('#{$fonts-folder}/DJBGetDigital/DJBGetDigital.eot?#iefix') format('embedded-opentype'),
         url('#{$fonts-folder}/DJBGetDigital/DJBGetDigital.woff') format('woff'),
         url('#{$fonts-folder}/DJBGetDigital/DJBGetDigital.ttf') format('truetype'),
         url('#{$fonts-folder}/DJBGetDigital/DJBGetDigital.svg#DJBGetDigital') format('svg');
    font-weight: normal;
    font-style: normal;
}
