//import
@import 'reset';
@import 'variables';
@import 'fonts';
@import 'breakpoints';
@import 'button';

html{
    width: 100%;
    min-height: 100%;
    background: #2c3039; /* Old browsers */
    background: linear-gradient(to bottom, #2c3039 0%,#434b56 100%);
}

.container{
    margin: 5vw 5vw;
    background: #ffffff;
    border-radius: 10px;
}

.wrapper{
    background: #f2f2f2;
    padding: 30px 0 0 0;
    font-size: 0;
}

.sidebar{
    width: 15%;
    display: inline-block;
    float: left;
    padding: 0 15px 0 30px;
}

.content{
    width: 85%;
    padding: 0 15px 0 0;
    display: inline-block;
}

.slot{
    background: #e6e6e6;
    width: calc(50% - 30px);
    margin: 0 15px 30px 15px;
    float: left;
    border-radius: 4px;
}

//MQ
@include tablet-landscape-and-below{
    .sidebar{
        width: 100%;
        margin-bottom: 30px;
    }
    .content{
        width: 100%;
        padding: 0 30px;
    }

    .slot{
        width: 100%;
        margin: 0;
    }
}